@import "../../static/css/config/common.css";

.mt4{
    width: 100%;
    height: 600px;
    padding-top: 74px;
    background-image: url("../partner/partnerport/images/mt4-bg.png");
    background-color: #1b6d85;
}
.mt4download{
    width: 690px;
    margin: 0 auto;
    margin-top: 114px;
}
.mt4bg{
    display: block;
    width: 240px;
    height: 240px;
    float: left;
    background-color: yellow;
    background-image: url("../partner/partnerport/images/mt4.png");
}
.mt4bg>img{
    width: 100%;
    height: 100%;
}
.mt4title{
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 36px;
    text-align: center;
}
.downloadlist{
    float: right;
    width: 220px;
    height: 240px;
}
.downloadlist:last-child{
    margin-bottom: 0;
}

@media all and (max-width: 690px){
    .mt4download{
        width: 100%;
    }
}
/*@media all and (max-width: 460px){*/
    /*.mt4download{*/
        /*width: 100%;*/
    /*}*/
    /*.mt4bg{*/
        /*width: 100%;*/
        /*clear: both;*/
    /*}*/
    /*.downloadlist{*/
        /*width: 100%;*/
        /*clear: both;*/
    /*}*/
/*}*/