@import "../../../static/css/config/common.css";

.downbutton{
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    border:1px solid #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    color: #fff;
    display: block;

}
.downbutton>i{
    font-size: 30px;
}
.downbutton>span{
    display: inline-block;
    width: 130px;
    margin-left: 14px;
    text-align: center;
}
.downbutton:hover{
    background-color: #5164ff;
    color: #fff;
    border-color: #5164ff;
}