.login{
    width: 520px;
    height: 520px;
    border: 1px solid #000;
    padding-top: 20px;
}
.logincontent{
    width: 320px;
    margin: 0 auto;
    font-size: 14px;
}
.logincontent>div{
    width: 100%;
    height: 60px;
}
.logincontent input{
    padding-left: 10px;
    outline-color: #5262ff;
    height: 40px;
    border: 1px solid #dfdce4;
}
.logincontent>.lctitle{
    height: 48px;
    line-height: 48px;
    color: #5262ff;
    font-size: 24px;
    border-bottom: 1px solid #dfdce4;
    margin-bottom: 20px;
}
.lcphone{

}
.prephone{
    position: relative;
}
.sedphone{
    width: 80px;
    height: 40px;
    color: #3b3d40;
    line-height: 40px;
    float: left;
    padding: 0 10px;
    border:1px solid #dfdce4;
}
.sedphone>span{
    float: left;
}
.sedphone>i{
    font-size: 20px;
    float: right;
    line-height: 40px;
}
.selphone{
    position: absolute;
    border: 1px solid #5262ff;
    width: 100%;
    height: 122px;
    top: 39px;
    z-index: 22;
    overflow: auto;
    display: none;
}

.lccaptcha{
   position: relative;
}

.captcha{
    position: absolute;
    right: 0;
    top: 0;
    width: 150px;
    height: 40px;
    background-image: url("./images/captcha.png");
}

.lcmessage{
    position: relative;
}
.butt{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 60px;
}
.butt>button{
    width: 150px;
    height: 40px;
    padding: 0;
    margin: 0;
    color:#fff;
    background-color: #dfdce4;
    border: 1px #dfdce4 solid;
    line-height: 40px;
    font-size: 14px;
    float: right;
}
.butt>button:first-child{
    display: block;
}
.butt>button>span:last-child{
    display: none;
}





.logincontent>.lcsubmit{
    margin-top: 10px;
    height: 40px;
    margin-bottom: 12px;
}
.lcsubmit>button{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #5262ff;
    height: 40px;
    border: 0;
    color: #fff;
}



.gologin{
    font-size: 12px;
    color: #3b3d40;

}
input[name='pas2']+span{
    float: right;
    width: 100%;
    height: 20px;
    text-align: right;
    font-size: 12px;
    color: #f59294;
    line-height: 20px;
}
.gologin>span{
    float: right;
}
.gologin a{
    color: #5262ff;
}

.foc{
    box-shadow:0 0 5px 5px rgba(82,98,255,0.1);
}
.blu{
    box-shadow:0 0 5px 5px transparent;
}

