li{
    cursor: default;
    width: 100%;
    height: 40px;
    color: #3b3d40;
    line-height: 40px;
    padding-left: 10px;
    background-color: #fff;

}
li:hover{
    background-color: #eef0ff;
}
li>span{
    float: right;
    margin-right: 10px;
}
li>span{

}